.create-account-box{
  background-color:rgb(245, 241, 241);
  border-radius: 10pt;
  max-width: 50vw;
  display: flex;
  margin-left: 25vw;
  flex-direction: column;
  padding: 20pt;
  align-items: center;
  padding-top: 5pt;
  border-radius: 10pt;
  box-shadow: 5px 10px 8px red; /*#52ffe2*/
  margin-top: 10%;
}

.password{
  width: 40%;
}

.title{
  font-weight: lighter;
}
  
.create-account-box div{
  padding-top: 50px;
}
  
.create-account-box input{
  border-radius: 3pt;
  border-style: solid;
  border-color: rgb(182, 182, 182);
  margin: 15px;
}

.gender-options{
  list-style: none;
}

.names-div{
  display: flex;
  flex-direction: row;
}
  
.email-div input{
  width: 360px;
}
  
.button-div{
  display: flex;
  justify-content: center;
  align-content: center;
}

input[class*='submit-button']{
  width: 150px;
  height: 50px;
  background-color: rgb(78, 78, 204);
  color: whitesmoke;
  font-size: x-large;
  transition: all 0.3s;
}

input[class*='submit-button-disabled']{
  background-color: grey;
}
  
.submit-button:hover{
  background-color: rgb(107, 107, 206);
}